nav {
  height: 15vh;
  background-color: white;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: lightblue;
  font-size: 35px;
  text-align: center;
}
h #logo {
  font-size: 40px;
  text-decoration: none;
}
#button-log-in {
  border: 1px solid purple !important;
  padding: 10px;
  text-decoration: none;
  height: auto;
  border-radius: 10%;
}
.button {
  display: block;
  width: 120px;
  background-color: purple;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fafafa;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer {
  width: auto;
  margin-top: 50px;
  display: flex;
  height: auto;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  background-color: wheat;
}
footer a {
  text-decoration: none;
  padding: 10px;
  justify-content: space-around;
  font-size: 20px;
}
main div {
  display: flex;
  text-align: center;
  align-items: center;
}
h2 {
  font-size: 30px;
  text-align: center;
  margin: 30px;
  color: purple;
}
h3 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  color: aqua;
}
h4 {
  font-size: 20px;
  text-align: center;
  margin: 20px;
  color: aqua;
}
h5 {
  font-size: 20px;
  text-align: center;
  margin: 15px;
  color: purple;
}
h6 {
  font-size: 20px;
  text-align: center;
  margin: 15px;
  color: purple;
}
